.navListItem {
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2px;
  color: white;
}
.navListItem:hover {
  color: rgba(240, 255, 255, 0.781);
}

.hamburgerItem {
  cursor: pointer;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

.hamburgerItem:hover {
  color: rgb(71, 100, 228);
}
