.answerWrapper {
  width: 100vw;
  min-height: 100vh;
  background-image: url("/images/bg-desktop.svg");
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.questionWrapper {
  width: 90%;
  min-height: 200px;
  background-color: white;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 40px;
  gap: 20px;
  align-items: center;
}

.questionTitle {
  font-size: 2rem;
}
.horizontalRule {
  width: 90%;
  height: 5px;
  border: none;
  border-radius: 9px;
  background-color: rgb(190, 180, 180);
  opacity: 0.3;
}
.questionDescription {
  font-size: 1.1rem;
  line-height: 1.5;
}

.infoBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  color: grey;
}

.answerBox {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: min-content;
  background-color: white;
  margin-bottom: 30px;
}

.topBar {
  background-color: rgb(0, 0, 0);
  height: 40px;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
}

.textArea {
  display: flex;
}

.answerArea {
  width: 100%;
  height: max-content;
  border: 1px solid black;
}

.text {
  width: 90%;
  padding: 10px;
  min-height: 200px;
  resize: none;
  outline-style: none;
  border: none;
}

.bottomBar {
  background-color: rgb(206, 198, 198);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.clearallButton {
  width: 90px;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 9px;
  color: white;
  background-image: linear-gradient(45deg, rgb(242, 32, 32), rgb(247, 99, 70));
  cursor: pointer;
}
.clearallButton:hover {
  background-image: linear-gradient(
    45deg,
    rgb(243, 111, 17),
    rgb(242, 163, 53)
  );
}
.postButton {
  width: 90px;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 9px;
  color: white;
  background-image: linear-gradient(45deg, rgb(46, 96, 35), rgb(77, 130, 70));
  cursor: pointer;
}

.postButton:hover {
  background-image: linear-gradient(45deg, rgb(87, 171, 70), rgb(36, 198, 36));
}

.uploadButtonWrapper {
  width: 90px;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.uploadButton {
  background-color: rgb(11, 86, 165);
  padding: 10px;
  color: white;
  border-radius: 9px;
  cursor: pointer;
}
.uploadButton:hover {
  background-color: rgb(75, 147, 242);
}

.fileInput {
  display: none;
}

@media (max-width: 600px) {
  .questionTitle {
    font-size: 1.7rem;
  }
  .questionDescription {
    font-size: 1rem;
  }
  .infoBar {
    font-size: 0.8rem;
  }
}
