.editProfileWrapper {
  width: 100vw;
  min-height: 100vh;
  background-image: url("/images/bg-desktop.svg");
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper {
  width: 90%;
  height: min-content;
  padding: 20px;
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputField {
  width: 80%;
  height: 40px;
  padding: 10px;
}

.submitButton {
  height: 30px;
  margin-top: 20px;
  background-color: rgb(6, 66, 178);
  color: white;
  border: none;
  cursor: pointer;
  letter-spacing: 3px;
}

.submitButton:hover {
  background-color: rgb(52, 108, 212);
}
