.askWrapper {
  width: 100vw;
  min-height: 100vh;
  background-image: url("/images/bg-desktop.svg");
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper {
  width: 90%;
  min-height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-bottom: 30px;
}

.questionForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.label {
  margin-bottom: 10px;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
}

.titleInput {
  min-height: 50px;
  padding: 20px;
}

.hiddenTextArea {
  display: none;
}

.descriptionInput {
  padding: 10px;
  min-height: 200px;
  border: 1px solid black;
}

.submitButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.addTagButton {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 9px;
  color: white;
  background-color: green;
  cursor: pointer;
}
.addTagButton:hover {
  background-color: rgb(33, 188, 33);
}

.submitButton {
  border: none;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 9px;
  background-color: rgb(41, 162, 227);
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgb(108, 210, 242);
}

@media (max-width: 550px) {
  .titleInput {
    min-height: 30px;
    padding: 10px;
  }

  .descriptionInput {
    padding: 10px;
    min-height: 200px;
  }
}
