.main {
  width: 100vw;
  min-height: 100vh;
  background-image: url("/bg-desktop.svg");
  background-color: blueviolet;
}

.feedWrapper {
  border: 1px solid black;
  width: 100%;
  min-height: 800px;
  display: flex;
}
.feedBox {
  border: 1px solid black;
  width: 70%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailBox {
  border: 1px solid black;
  width: 30%;
  min-height: 800px;
}
