.main {
  width: 100vw;
  min-height: 100vh;
  background-image: url("/bg-desktop.svg");
  background-color: blueviolet;
}

.feedWrapper {
  width: 100%;
  min-height: 800px;
  display: flex;
}
.feedBox {
  width: 70%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1000px) {
  .feedBox {
    width: 100%;
  }
}
