*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.starIcon {
  cursor: pointer;
  transition: transform 1500ms;
}
.rotateStarIcon {
  cursor: pointer;
  transition: transform 1500ms;
  transform: rotate(360deg);
}

.selected {
  background-color: rgb(186, 155, 208);
}
.notSelected {
  background-color: rgb(138, 169, 236);
}
