.logoWrapper {
  min-height: 100px;
  padding: 50px;
  display: flex;
  color: white;
  cursor: pointer;
  flex: 1;
}
.firstHalf {
  font-size: 4rem;
}
.secondHalf {
  font-size: 2rem;
}

@media (max-width: 550px) {
  .logoWrapper {
    justify-content: center;
  }
}
