.descriptionBox {
  width: 40%;
  min-height: 70vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slide-in 1500ms;
}

.questionMark {
  font-size: 20rem;
  user-select: none;
}

.description {
  font-size: 2rem;
  width: 80%;
}
@media (max-width: 750px) {
  .questionMark {
    font-size: 15rem;
  }
}

@media (max-width: 550px) {
  .descriptionBox {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .questionMark {
    font-size: 15rem;
  }
  .description {
    font-size: 2rem;
  }
}
