.questionDescription {
  width: 90%;
  height: 100px;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 1rem;
  padding: 20px 0px;
  opacity: 0.3;
  line-height: 1.8;
}

@media (max-width: 550px) {
  .questionDescription {
    padding: 30px;
  }
}
