.questionHeading {
  width: 80%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.questionTitle {
  text-decoration: none;
  color: black;
  transition: transform 500ms;
}
.questionTitle:hover {
  transform: scale(1.05);
  color: rgb(92, 5, 92);
}

.rating {
  background-image: url("/star.png");
  background-repeat: no-repeat;
  display: flex;
  width: 200px;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}
.ratingValue {
  font-size: 1rem;
  margin-left: 10px;
}

@media (max-width: 550px) {
  .questionTitle {
    padding: 15px;
    font-size: 1.5rem;
  }
}
