.searchWrapper {
  width: 70%;
  min-height: 100px;
  padding: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}

.searchField {
  width: 400px;
  height: 50px;
  padding: 20px;
  border: 1px solid rgb(61, 1, 182);
  border-radius: 9px;
}
.searchIcon {
  /* width: 30px;
  height: auto; */
  position: absolute;
  right: 60px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .searchWrapper {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }
  .searchIcon {
    width: 20px;
    height: auto;
  }
}
