.searchWrapper {
  flex: 2;
  min-height: 100px;
  padding: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.inputWrapper {
  position: relative;
}

.searchField {
  width: 400px;
  height: 50px;
  padding: 20px;
  border: 1px solid rgb(61, 1, 182);
  border-radius: 9px;
}
.searchIcon {
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .searchWrapper {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    justify-content: center;
    align-items: center;
  }
  .searchField {
    width: 300px;
  }
  .searchIcon {
    width: 20px;
    height: auto;
    right: 10px;
    top: 15px;
  }
}
