.forgotPasswordWrapper {
  display: flex;
  justify-content: right;
  margin-top: -20px;
}

.forgotPasswordLink {
  text-decoration: none;
  color: rgb(158, 85, 237);
}
.forgotPasswordLink:hover {
  color: black;
}
