.profileCard {
  width: 60%;
  min-height: 200px;
  background-color: white;
  border-radius: 9px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.profileImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  border-radius: 50%;
  margin-left: 10px;
}

.fileInput {
  display: none;
}

.labelProfileImage {
  cursor: pointer;
}

.uploadProfile {
  width: 150px;
  position: absolute;
  bottom: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  cursor: pointer;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  letter-spacing: 2px;
}

.name {
  font-size: 2rem;
}

.email {
  color: grey;
}

.editProfile {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.toolTip {
  width: max-content;
  display: none;
  position: absolute;
  top: -40px;
  background-color: bisque;
  font-size: 0.6rem;
  padding: 10px;
}

@media (max-width: 900px) {
  .profileImage {
    width: 120px;
    height: 120px;
  }
  .profileCard {
    width: 90%;
  }
  .name {
    font-size: 1.5rem;
  }
  .email {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .profileImage {
    width: 100px;
    height: 100px;
  }
  .name {
    font-size: 1.2rem;
  }
  .email {
    font-size: 0.7rem;
  }
}
