.cardWrapper {
  width: 80%;
  min-height: 300px;
  background-color: white;
  position: relative;
  border-radius: 15px;
  margin: 50px 0px;
  text-decoration: none;
  color: black;
}

.card {
  width: 100%;
  min-height: 300px;
  border: 1px solid rgb(144, 122, 233);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.questionTitle {
  width: 80%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.questionDescription {
  width: 90%;
  font-size: 1rem;
}

.rating {
  background-image: url("/star.png");
  background-repeat: no-repeat;
  display: flex;
  width: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.ratingValue {
  font-size: 1rem;
  margin-left: 10px;
}

.horizontalRule {
  width: 92%;
  height: 5px;
  background-color: rgb(222, 216, 216);
  border: none;
  border-radius: 5px;
  opacity: 0.5;
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: 4px solid rgb(123, 3, 79);
  background-color: rgb(213, 19, 234);
}

.bigCircle {
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
}

.mediumCircle {
  width: 80px;
  height: 80px;
  top: 60px;
  left: -40px;
}

.smallCircle {
  width: 50px;
  height: 50px;
  top: -25px;
  left: 60px;
}

@media (max-width: 550px) {
  .cardWrapper {
    margin-left: 10px;
  }
  .bigCircle {
    width: 80px;
    height: 80px;
    top: -40px;
    left: -40px;
  }

  .mediumCircle {
    width: 60px;
    height: 60px;
    top: 60px;
    left: -30px;
  }

  .smallCircle {
    width: 30px;
    height: 30px;
    top: -15px;
    left: 60px;
  }

  .questionTitle {
    padding: 15px;
    font-size: 1.5rem;
  }
  .questionDescription {
    padding: 30px;
  }
}
